<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Footy Quiz</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles/style.css') }}"
        />
        <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="logo">Footy Quiz</div>
                <nav>
                    <ul>
                        {% if not logged_in %}
                        <li><a href="/login">Login</a></li>
                        <li><a href="/signup">Signup</a></li>
                        {% elif logged_in %}
                        <li><a href="/account">Account</a></li>
                        <li><a href="/help">Help</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            <div class="container">{% block main %} {% endblock %}</div>
        </main>
    </body>
</html>
